extends layout 

block content 
  h1=title
  div.container-fluid
    div.row
      each tablet,index in results
        div.col-sm-2(onclick=`buy(${index})`) #{tablet.tablet_name} <br> #{tablet.company_name} <br> #{tablet.tablet_dosage}
    button(name="Edit" class="btn btn-info" onclick="edit()") Edit
        br
        button(name="Edit") Delete 

  script.
     function buy(itemNo)
      {
        alert(`Places to visit ${itemNo+1}`)
      }