extends layout 

block content 
  h1=title
  div.container-fluid
    a(href='/tablets/create')
      button.btn.btn-primary(class="btn btn-success" ,type="button" style='align:center') Create
    div.row
      each tablet,index in results
       - let destination = `dispatch(\"/tablets/update?id=${tablet._id}\")`
       - let deleteTab = `dispatch(\"/tablets/delete?id=${tablet._id}\")`
       - let detailsTab = `dispatch(\"/tablets/detail?id=${tablet._id}\")`
        div.col-sm-2(onclick=`buy(${index})`) #{tablet.tablet_name} <br> #{tablet.company_name} <br> #{tablet.tablet_dosage}<br>
        
         button.btn( class="btn btn-warning", onclick= destination) Update
         button.btn( class="btn btn-info", onclick= detailsTab) Detailed View
         button.btn( class="btn btn-danger", onclick= deleteTab) Delete
        <br>
    <br>
    //button(name="ok" class="btn btn-info" onclick="edit()") Ok
        br
    //button(name="save" class="btn btn-success" onclick="delete()" ) Save 
    
    //button(name="delete" class="btn btn-danger" onclick="update()") Delete

  script.
     function buy(itemNo)
      {
       // alert(`Places to visit ${itemNo+1}`)
      }

  script.
    function dispatch(path){
     window.location.href=path
    }    