extends layout 

block content 
  h1=title
  div.container-fluid
    div.row
      each tablet,index in results
        div.col-sm-2(onclick=`buy(${index})`) #{tablet.tablet_name} <br> #{tablet.company_name} <br> #{tablet.tablet_dosage}
        <br>
    <br>
    button(name="ok" class="btn btn-info" onclick="edit()") Ok
        br
    button(name="save" class="btn btn-success" onclick="delete()" ) Save 
    button(name="update" class="btn btn-warning" onclick="save()") Update
    button(name="delete" class="btn btn-danger" onclick="update()") Delete

  script.
     function buy(itemNo)
      {
        alert(`Places to visit ${itemNo+1}`)
      }