extends layout
block content
 h1(class='container-fluid p-5 bg-sucess text-success text-center')= title
 if (toShow == null)
    h2 No instance details
 else
    - let tabletid = toShow._id
    - let tabletname = toShow.tablet_name
    - let companyname = toShow.company_name
    - let tabletdosage = toShow.tablet_dosage
    div(class='container-fluid p-5 bg-success text-dark text-center')
    div.row
    div(class='container-fluid p-2 flex-fill tabletAttr mr-3') Tablet ID is:
    <br>
    div #{tabletid}
    <br> 
    div.row
    div(class='container-fluid p-2 flex-fill tabletAttr mr-3') Tablet Name is:
    <br> 
    div #{tabletname}
    <br> 
    div.row
    div(class='container-fluid p-2 flex-fill tabletAttr mr-3') Tablet Company is:
    <br> 
    div #{companyname}
    <br> 
    div.row
    div(class='p-2 flex-fill tabletAttr mr-3') Tablet Dosage is:
    <br> 
    div #{tabletdosage}